.footer{
   position: fixed;
   bottom: 0;

   display: flex;
   justify-content: flex-end;
}
.footer >span{
  font-size: 1rm;
  font-weight:300 ;
}

.footer{
  max-height: 30px;
}

.footer {
  background-color: white;
}
.footer a{
  color: black;
}
